<div class="container">
    <section>
        <div class="solution">
            <div class="solution__description">
                <h1 class="title">Award-winning custom designs and deg</h1>
                <p class="text">With over 10 years in the industry, we are experienced in creating fully responsive
                    websites, app design, and
                    engaging brand experiences. Find out more about our services.</p>
                <button class="btn">Learn More</button>
            </div>
            <div class="image-card">
                <img class="image" src="../../../assets/images/home/image-hero-phone.png" alt="mobile">
            </div>
        </div>
    </section>

    <section>
        <div class="design" *ngIf="designData">
            <div class="container__design">
                <div class="card" *ngFor="let data of designData">
                    <img class="image" [src]="data.urlImage" [alt]="data.title">
                    <div class="contetn">
                        <p class="title">{{ data.title }}</p>
                        <a class="link" [routerLink]="data.link">View Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="personality" *ngIf="personalityData">
            <div class="personality--flex">
                <div class="card" *ngFor="let data of personalityData">
                    <div class="card-img">
                        <img [src]="data.urlImage" [alt]="data.title">
                    </div>
                    <div class="card-contain">
                        <h3 class="title">{{ data.title }}</h3>
                        <p class="text">{{ data.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <div class="content">
                <h3 class="title">Let's talk about your project</h3>
                <p class="text">Ready to take it to the next level? Contact us today and find out how our expertise can
                    help your
                    business grow.</p>
            </div>
            <div class="link">
                <a class="btn" routerLink="/contact">Get in touch</a>
            </div>
        </div>
    </section>
</div>