@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $salmon-light2;
  text-align: center;
  color: $white;
  height: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
  @include md {
    height: 600px;
    border-radius: 20px;
  }
  @include lg {
    flex-direction: row;
    justify-content: space-around;
  }

  &__description {
    padding-top: 50px;
    @include sm {
      padding-top: 180px;
    }
    @include md {
      width: 100%;
      padding: 20px 0 0 0;
      text-align: center;
    }
    @include lg {
      text-align: left;
      width: 50%;
    }
    .title {
      @include md {
        padding: 0 50px;
      }
    }

    .text {
      @include md {
        padding: 10px 100px;
      }
      @include lg {
        padding: 10px 50px;
      }
    }

    .btn {
      padding: 20px;
      background-color: $white;
      color: $grey;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: 700;

      @include lg{
        margin-left: 50px;
      }

      &:hover {
        background-color: $grey;
        color: $white;
      }
    }
  }
  .image-card {
    position: relative;
    width: 100%;
    height: 100%;
    @include lg{
      width: 30%;
    }
    .image {
      width: 100%;
      position: absolute;
      top: 14%;
      right: 0;
      left: 0;
      @include sm {
        top: -60px;
      }
      @include md {
        height: auto;
        position: relative;
        top: -100px;
      }

      @include lg{ 
        top: 0;
      }
    }
  }
}

.design {
  width: 100%;
  height: auto;
  padding: 20px 0;
  @include sm {
    padding: 50px 0;
  }
  .container__design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include sm{
      width: 100%;
    }
    @include lg{
      display: grid;
      grid-template-columns: auto 30px auto;
      grid-template-rows: auto;
      grid-template-areas: 
      "web . app"
      "web . app"
      "web . graphic"
      "web . graphic";

      .card:nth-child(1){
        grid-area: web;
        .image{
          height: 625px;
        }
      }
      .card:nth-child(2){
        grid-area: app;
        .image{
          height: 300px;
        }
      }
      .card:nth-child(3){
        grid-area: graphic;
        .image{
          height: 300px;
        }
      }
    }
    .card {
      position: relative;
      width: fit-content;
      &:hover {
        opacity: 0.5;
      }

      @include sm {
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
      }
      .image {
        width: 300px;
        height: auto;
        border-radius: 20px;

        @include sm {
          width: 100%;
          height: 200px;
        }
      }
      .contetn {
        position: absolute;
        top: 38%;
        left: 30%;
        @include md {
          top: 38%;
          left: 0;
          right: 0;
          width: 100%;
        }
        .title {
          font-size: 24px;
          color: $white;
          @include md {
            font-size: 40px;
          }
        }
        .link {
          text-transform: uppercase;
          color: $white;
          font-size: 18px;
          &::after {
            content: ">";
            margin-left: 10px;
            color: $salmon-light2;
            transition: width 1s;
            transform: translateX(25px);
          }
        }
      }
    }
  }
}

.personality {
  position: relative;
  padding: 40px 0;
  @include md {
    padding: 0;
  }
  .personality--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 20px;

    @include xl{
      flex-direction: row;
    }
    .card {
      padding: 40px 0;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      @include md {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      @include xl{
        flex-direction: column;
      }
      .card-img {
        background-image: url("../../../assets/images/pattern/bg-pattern-small-circle.svg");
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        width: 100%;
      }
      .card-contain {
        @include md {
          text-align: left;
          padding-left: 20px;
        }
        @include xl{
          padding-top: 30px;
          padding-left: 25px;
          text-align: center;
        }

        .title {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 4px;
          text-transform: uppercase;
        }
      }
    }
  }
}

 //section contact
 .contact {
  position: relative;
  height: 200px;
  padding: 0 20px;
  .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -164px;
    padding: 30px 0;
    color: $white;
    background-color: $salmon-light2;
    text-align: center;
    border-radius: 20px;
    z-index: 2;
    background-image: url("../../../assets/images/contact/bg-pattern-hero-contact-mobile.svg");

    @include xl {
      width: 1111px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      .content{
          width: 100%;
          text-align: left;
          
              .title{
                  padding: 20px 20px;
              }
              .text{
                  padding: 0px 20px;
              }
          
      }
      .link{
          width: 45%;
      }
    }
    .title {
      padding: 20px 46px;
      font-size: 24px;
      @include md {
        padding: 20px 200px;
        font-size: 36px;
      }
    }

    .text {
      padding: 20px 46px;
      @include md {
        padding: 0px 130px;
      }
    }

    .btn {
      padding: 20px;
      background-color: $white;
      color: $grey;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: 700;

      @include lg {
        margin-left: 50px;
      }

      &:hover {
        background-color: $grey;
        color: $white;
      }
    }
  }
}