<footer>
    <div class="conteiner__footer">
        <div class="logo-company">
            <div class="logo">
                <div class="logo__image">
                    <img src="../../assets/images/logo-light.png" alt="logo">
                </div>
                <div class="logo__page-link">
                    <ul class="link-list">
                        <li class="link-item"><a class="item" href="#">Our Company</a></li>
                        <li class="link-item"><a class="item" href="#">Locations</a></li>
                        <li class="link-item"><a class="item" href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="contact__address">
                <p>Designo Central Office</p>
                <p>3886 Wellington Street</p>
                <p>Toronto, Ontario M9C 3J5</p>
            </div>
            <div class="contact__email">
                <p>Contact Us (Central Office)</p>
                <p>P : +1 253-863-8967</p>
                <p>M : contact@designo.co</p>
            </div>
            <div  class="contact__media">
                <ul class="media-list">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-paypal"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>